/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #9aa099 !important;
}

body .container {
  max-width: 1100px;
}

        /* Hamburger Menu */
        .hamburger-menu {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 30px;
          cursor: pointer;
          position: fixed;
          top: 20px;
          right: 20px;
          z-index: 1000;
        }

        .hamburger-menu .bar {
          width: 100%;
          height: 4px;
          background-color: #fff;
        }

        /* Mobile Navigation */
        .mobile-nav {
          position: fixed;
          top: 0;
          left: -100%;
          width: 40%;
          height: 40%;
          background-color: rgba(223, 213, 213);
          transition: left 0.3s ease-in-out;
          padding: 50px 20px;
          box-sizing: border-box;
          z-index: 999;
        }

        .mobile-nav button {
          display: block;
          width: 100%;
          text-align: left;
          background-color: #f7f7f7; /* This is a light gray background */
          margin-bottom: 10px; /* This adds some space between the buttons */
          border-radius: 5px; /* This rounds the corners of the buttons */
          border: none; /* This removes the default border of the buttons */
          padding: 10px; /* This adds some padding inside the buttons */
          transition: background-color 0.3s ease; /* This adds a smooth transition effect when hovering */
      }
      
      .mobile-nav button:hover {
          background-color: #e0e0e0; /* This is a slightly darker gray for the hover effect */
      }

        /* Media Query for screens larger than 500px */
        @media (min-width: 501px) {
          .hamburger-menu, .mobile-nav {
              display: none;
          }
        }

#filter-buttons button{
  display: none;
}

#filterable-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust 250px to your card's desired minimum width */
    gap: 1rem; /* Adjust this to your desired spacing between cards */
}


#filterable-cards .card {
  height: 200px;
  max-width: 15rem;
  margin: 0 auto; /* This will center the card if it's smaller than the column width */
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.3s ease;
}

#filterable-cards .card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
  
#filterable-cards .card-body {
  height: 30%;  /* Adjust this value based on the image height */
  display: flex;
  align-items: center;
  justify-content: center;
}

#filterable-cards .card.hide {
    animation: fallBack 0.5s forwards;
}

@keyframes fallBack {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(50px);
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

/*Smaller Cards*/
.modal-content {
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Style for the modal title */
#modal-title {
  background-color: #f0f0f0; /* Grey background */
  padding: 5px 10px;
  border-radius: 10px;
}

#modal-img {
  min-height: 200px;
  width: 100%; /* Ensures the image takes the full width of the modal */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}

/* Style for the modal body content */
.modal-body {
  font-size: 16px;
}

#modal-priceTop, #modal-priceLow {
  display: none; /* Initially hide individual prices */
}

#modal-priceRange {
  margin-bottom: 10px;
}

/* Typography Enhancements */
.modal-body p {
  font-size: 18px; /* Slightly larger font size */
  margin-bottom: 15px; /* Increased spacing between elements */
}

.modal-body p span.label {
  font-weight: 600; /* Bold font weight for labels */
  color: #555; /* Darker color for labels */
  margin-right: 10px; /* Spacing between label and value */
}

.modal-body p span.value {
  font-weight: 400; /* Regular font weight for values */
  color: #333; /* Dark color for values */
}

/* Icons (assuming you're using Font Awesome or similar) */
.modal-body p i {
  margin-right: 5px; /* Spacing between icon and text */
}



#filterable-cards .card.slide {
  animation: slideIn 0.5s forwards;
}


#filterable-cards .card.out {
  transform: translateY(100%); /* Move the card out of view */
  pointer-events: none; /* Make sure the card doesn't interfere with any interactions */
}



@media (max-width: 600px) {
    #filterable-cards {
        justify-content: center;
    }

    #filterable-cards .card {
        width: 100%; /* This will make the card take the full width on small screens */
        margin: 0 auto; /* This will center the card */
    }
}

/* Hide filter buttons by default */
#filter-buttons button {
  display: none;
}

/* Display filter buttons only for screens larger than 500px */
@media (min-width: 501px) {
  #filter-buttons button {
      display: inline-block; /* or you can use 'block' if you want them to take the full width */
      border-radius: 3px;
      background: #fff;
      border-color: transparent;
  }

  #filter-buttons button:hover {
      background: #ddd;
  }

  #filter-buttons button.active {
      color: #fff;
      background: #6c757d;
  }

  /* Hide the hamburger menu and mobile navigation */
  .hamburger-menu, .mobile-nav {
      display: none;
  }
}

/* Display the hamburger menu only for screens smaller than 500px */
@media (max-width: 500px) {
  .hamburger-menu {
      display: flex;
  }

  #filter-buttons button {
      display: none; /* Hide the filter buttons */
  }
}
