/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: #9aa099 !important;
}

body .container {
  max-width: 1100px;
}

#filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
}

#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #6c757d;
}

#filterable-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust 250px to your card's desired minimum width */
    gap: 1rem; /* Adjust this to your desired spacing between cards */
}


#filterable-cards .card {
  height: 200px;
  max-width: 15rem;
  margin: 0 auto; /* This will center the card if it's smaller than the column width */
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.3s ease;
}

#filterable-cards .card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
  
#filterable-cards .card-body {
  height: 30%;  /* Adjust this value based on the image height */
  display: flex;
  align-items: center;
  justify-content: center;
}

#filterable-cards .card.hide {
    animation: fallBack 0.5s forwards;
}

@keyframes fallBack {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(50px);
  }
}

@keyframes slideIn {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

/*Smaller Cards*/
.modal-content {
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Style for the modal title */
#modal-title {
  background-color: #f0f0f0; /* Grey background */
  padding: 5px 10px;
  border-radius: 10px;
}

#modal-img {
  min-height: 200px;
  width: 100%; /* Ensures the image takes the full width of the modal */
  object-fit: cover; /* Ensures the image covers the space without distortion */
}

/* Style for the modal body content */
.modal-body {
  font-size: 16px;
}

#modal-priceTop, #modal-priceLow {
  display: none; /* Initially hide individual prices */
}

#modal-priceRange {
  margin-bottom: 10px;
}

/* Typography Enhancements */
.modal-body p {
  font-size: 18px; /* Slightly larger font size */
  margin-bottom: 15px; /* Increased spacing between elements */
}

.modal-body p span.label {
  font-weight: 600; /* Bold font weight for labels */
  color: #555; /* Darker color for labels */
  margin-right: 10px; /* Spacing between label and value */
}

.modal-body p span.value {
  font-weight: 400; /* Regular font weight for values */
  color: #333; /* Dark color for values */
}

/* Icons (assuming you're using Font Awesome or similar) */
.modal-body p i {
  margin-right: 5px; /* Spacing between icon and text */
}



#filterable-cards .card.slide {
  animation: slideIn 0.5s forwards;
}


#filterable-cards .card.out {
  transform: translateY(100%); /* Move the card out of view */
  pointer-events: none; /* Make sure the card doesn't interfere with any interactions */
}



@media (max-width: 600px) {
    #filterable-cards {
        justify-content: center;
    }

    #filterable-cards .card {
        width: 100%; /* This will make the card take the full width on small screens */
        margin: 0 auto; /* This will center the card */
    }
}
